.logintxt {
	margin-top: 10px;

}

.login {
	margin-top: 40px;
	
}

.glyphicon-user{
	margin-top: 17px;
}

.login{
	animation-name: fadeInUp;
}

.nologin{
	animation-name: fadeOutDown;
}

.createAccount{
	animation-name: fadeInUp;
	margin-top: 40px;
}
.noCreateAccount{
	animation-name: fadeOutDown;

	/*display: block;*/
}	

.profile{
	animation-name: fadeInUp;
	margin-top: 40px;
}

.gallerybox {
	position: absolute;
	margin-top: 50px;
}

.gallerybox p{
	display: none;
}
/*.gallerybox:hover p{
	display: block;
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;

	background-color: rgba(100,100,100,0.5);
	text-align: center;
	padding-top: 25%;
	font-size: 2em;
}
*/

.gallerybox:hover {
	animation-name: pulse;
}



.photo{
margin-bottom: 20px;
}

.hide{
	display: none;

}

.show{
	/*animation-name: slideInDown;*/
	display: block;
}


/*.wraper{
	background: rgba(220,160,30,0.8);
	height: 1000px;

}*/

.loginbutton{
	margin-bottom: 20px;
}
.article{
	height: 200px;
}