.box1 {
background-color: red;
height: 100px;
}
.box2 {
background-color: blue;
height: 100px;
}

.gallerybox {
	position: relative;

}
.gallerybox p{
	display: none;
}
.gallerybox:hover p{
	display: block;
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,255,255,0.5);
	text-align: center;
	padding-top: 25%;
	font-size: 2em;
}
